In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

In [2]:
# Create cities dataframe
cities_df = pd.read_csv('../output_data/cities.csv')
cities_df.dropna(inplace = True) 
cities_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Xianyang,34.3378,108.7026,21.00,78,0,4.47,CN,1610060864
1,Mmabatho,-25.8500,25.6333,70.77,77,89,8.41,ZA,1610060864
2,East London,-33.0153,27.9116,70.50,81,0,16.93,ZA,1610060864
3,Barrow,71.2906,-156.7887,-11.20,70,40,4.61,US,1610060864
4,Necochea,-38.5473,-58.7368,64.00,84,24,12.03,AR,1610060864

In [3]:
# Store latitude and longitude in locations
locations = cities_df[["Lat", "Lng"]]

# Fill NaN values and convert to float
humidity = cities_df["Humidity"].astype(float)

In [4]:

fig = gmaps.figure()

In [5]:
# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
filt=(((cities_df['Max Temp']<80)&(cities_df['Max Temp']>70))&(cities_df['Wind Speed']<10)&(cities_df['Cloudiness']==0))
hotel_df=cities_df[filt]
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
30,Arraial do Cabo,-22.9661,-42.0278,78.80,90,0,4.61,BR,1610060868
41,Saint-Philippe,-21.3585,55.7679,77.00,69,0,5.75,RE,1610060869
46,Agadez,19.7500,10.2500,73.13,20,0,7.14,NE,1610060870
106,Mandera,3.9366,41.8670,77.20,31,0,7.56,KE,1610060877
119,Zabid,14.1951,43.3152,73.42,65,0,6.44,YE,1610060589
135,São Filipe,14.8961,-24.4956,75.07,78,0,7.90,CV,1610060881
214,Calvinia,-31.4707,19.7760,70.79,37,0,4.70,ZA,1610060892
239,Minas,-34.3759,-55.2377,77.00,50,0,6.91,UY,1610060895
244,Oussouye,12.4850,-16.5469,78.80,89,0,4.61,SN,1610060895
307,Salalah,17.0151,54.0924,71.60,28,0,8.05,OM,1610060904
344,Broken Hill,-31.9500,141.4333,75.20,33,0,6.91,AU,1610060909
407,Odienné,9.5100,-7.5692,75.85,28,0,0.78,CI,1610060918
467,Hambantota,6.1241,81.1185,73.40,100,0,1.14,LK,1610060927
491,Kampong Cham,11.9934,105.4635,70.41,71,0,8.81,KH,1610060930
542,Muriti,-1.9833,32.9167,75.69,63,0,6.73,TZ,1610060936

In [7]:
hotel_df.shape

(15, 9)

In [8]:
hotel_df["Hotel Name"] = "" 
hotel_df.head()

<ipython-input-8-163e03f7db0a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = ""

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
30,Arraial do Cabo,-22.9661,-42.0278,78.80,90,0,4.61,BR,1610060868,
41,Saint-Philippe,-21.3585,55.7679,77.00,69,0,5.75,RE,1610060869,
46,Agadez,19.7500,10.2500,73.13,20,0,7.14,NE,1610060870,
106,Mandera,3.9366,41.8670,77.20,31,0,7.56,KE,1610060877,
119,Zabid,14.1951,43.3152,73.42,65,0,6.44,YE,1610060589,

In [9]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "hotel",
    #"keyword": "international airport",
    "key": g_key
}
i=0
# Use the lat/lng we recovered to identify airports
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
    print(name_address.url)

    # convert to json
    name_address = name_address.json()
    #print(name_address)
    #print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=hotel&key=AIzaSyBtCT1LaDgzzrMQXgHAcmzISMfvdk1REkw&location=-22.9661%2C-42.0278

C:\Users\Beto\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=hotel&key=AIzaSyBtCT1LaDgzzrMQXgHAcmzISMfvdk1REkw&location=-21.3585%2C55.7679
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=hotel&key=AIzaSyBtCT1LaDgzzrMQXgHAcmzISMfvdk1REkw&location=19.75%2C10.25
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=hotel&key=AIzaSyBtCT1LaDgzzrMQXgHAcmzISMfvdk1REkw&location=3.9366%2C41.867
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=hotel&key=AIzaSyBtCT1LaDgzzrMQXgHAcmzISMfvdk1REkw&location=14.1951%2C43.3152
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=hotel&key=AIzaSyBtCT1LaDgzzrMQXgHAcmzISMfvdk1REkw&location=14.8961%2C-24.4956
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=hotel&key=AIzaSyBtCT1LaDgzzrMQXgHAcmzISMfvdk1REkw&location=-31.4707%2C19.776
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=hotel&key=AIzaSyBtCT1LaDgzzrMQXgHAcmzISMfvdk1REkw&location=-34.3759%2C-55.2377
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=hotel&key=AIzaSyBtCT1LaDgzzrMQXgHAcmzISMfvdk1REkw&location=12.485%2C-16.5469
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=hotel&key=AIzaSyBtCT1LaDgzzrMQXgHAcmzISMfvdk1REkw&location=17.0151%2C54.0924
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=hotel&key=AIzaSyBtCT1LaDgzzrMQXgHAcmzISMfvdk1REkw&location=-31.95%2C141.4333
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=hotel&key=AIzaSyBtCT1LaDgzzrMQXgHAcmzISMfvdk1REkw&location=9.51%2C-7.5692
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=hotel&key=AIzaSyBtCT1LaDgzzrMQXgHAcmzISMfvdk1REkw&location=6.1241%2C81.1185
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=hotel&key=AIzaSyBtCT1LaDgzzrMQXgHAcmzISMfvdk1REkw&location=11.9934%2C105.4635
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=hotel&key=AIzaSyBtCT1LaDgzzrMQXgHAcmzISMfvdk1REkw&location=-1.9833%2C32.9167

In [10]:
hotel_df.head(30)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
30,Arraial do Cabo,-22.9661,-42.0278,78.80,90,0,4.61,BR,1610060868,Cabo Frio
41,Saint-Philippe,-21.3585,55.7679,77.00,69,0,5.75,RE,1610060869,Saint-Philippe
46,Agadez,19.7500,10.2500,73.13,20,0,7.14,NE,1610060870,
106,Mandera,3.9366,41.8670,77.20,31,0,7.56,KE,1610060877,Mandera
119,Zabid,14.1951,43.3152,73.42,65,0,6.44,YE,1610060589,Zabid
135,São Filipe,14.8961,-24.4956,75.07,78,0,7.90,CV,1610060881,Sao Filipe
214,Calvinia,-31.4707,19.7760,70.79,37,0,4.70,ZA,1610060892,Calvinia
239,Minas,-34.3759,-55.2377,77.00,50,0,6.91,UY,1610060895,Minas
244,Oussouye,12.4850,-16.5469,78.80,89,0,4.61,SN,1610060895,Oussouye
307,Salalah,17.0151,54.0924,71.60,28,0,8.05,OM,1610060904,Salalah
344,Broken Hill,-31.9500,141.4333,75.20,33,0,6.91,AU,1610060909,Broken Hill
407,Odienné,9.5100,-7.5692,75.85,28,0,0.78,CI,1610060918,Odienne
467,Hambantota,6.1241,81.1185,73.40,100,0,1.14,LK,1610060927,Hambantota
491,Kampong Cham,11.9934,105.4635,70.41,71,0,8.81,KH,1610060930,Krong Kampong Cham
542,Muriti,-1.9833,32.9167,75.69,63,0,6.73,TZ,1610060936,Muriti

In [11]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# Fill NaN values and convert to float
humidity = hotel_df["Humidity"].astype(float)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)

fig_hotel = gmaps.figure()

# Add layer
fig_hotel.add_layer(heat_layer)

# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Add the layer to the map
fig_hotel.add_layer(markers)

# Display figure
fig_hotel

Figure(layout=FigureLayout(height='420px'))