In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
# Create cities dataframe
cities_df = pd.read_csv('../output_data/cities.csv')
cities_df.dropna(inplace = True) 
cities_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Thompson,55.74,-97.86,-23.00,83,75,1.00,CA,1609837202
1,Jamestown,42.10,-79.24,-0.56,92,90,0.57,US,1609837340
2,Bethel,41.37,-73.41,0.00,97,90,1.52,US,1609837340
3,Butaritari,3.07,172.79,27.72,78,89,8.62,KI,1609837340
4,Punta Arenas,-53.15,-70.92,10.00,57,0,7.20,CL,1609837340

In [6]:
# Store latitude and longitude in locations
locations = cities_df[["Lat", "Lng"]]

# Fill NaN values and convert to float
humidity = cities_df["Humidity"].astype(float)

In [7]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))