In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

In [2]:
# Create cities dataframe
cities_df = pd.read_csv('../output_data/cities.csv')
cities_df.dropna(inplace = True) 
cities_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Isla Vista,34.4133,-119.8610,55.00,81,1,5.68,US,1610099503
1,Hithadhoo,-0.6000,73.0833,83.57,78,95,18.48,MV,1610099532
2,Tefé,-3.3542,-64.7114,70.66,98,99,2.28,BR,1610099532
3,Tasiilaq,65.6145,-37.6368,12.20,73,0,28.77,GL,1610099533
4,Kutum,14.2000,24.6667,77.16,17,0,22.59,SD,1610099533

In [3]:
# Store latitude and longitude in locations
locations = cities_df[["Lat", "Lng"]]

# convert humidity values to float
humidity = cities_df["Humidity"].astype(float)

In [4]:
# Plot Heatmap
fig = gmaps.figure()

In [5]:
# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
#Get all cities with perfect weather conditions
filt=(((cities_df['Max Temp']<80)&(cities_df['Max Temp']>70))&(cities_df['Wind Speed']<10)&(cities_df['Cloudiness']==0))
hotel_df=cities_df[filt]
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
13,Arraial do Cabo,-22.9661,-42.0278,75.20,94,0,5.75,BR,1610099329
100,Kiryat Gat,31.6100,34.7642,73.00,29,0,1.01,IL,1610099541
193,Bubaque,11.2833,-15.8333,79.39,64,0,6.91,GW,1610099549
319,Atar,20.5169,-13.0499,71.60,28,0,9.22,MR,1610099560
332,São Filipe,14.8961,-24.4956,74.75,78,0,8.84,CV,1610099561
435,Benjamín Aceval,-24.9667,-57.5667,75.20,94,0,3.44,PY,1610099570
475,Tautira,-17.7333,-149.1500,78.80,78,0,4.61,PF,1610099574
492,Adrar,20.5022,-10.0711,79.65,21,0,4.12,MR,1610099575
512,Jodhpur,26.2867,73.0300,76.17,34,0,8.66,IN,1610099577
549,Mahina,-17.5065,-149.4890,78.80,78,0,4.61,PF,1610099580

In [7]:
#Check df table
hotel_df.shape

(10, 9)

In [8]:
#Create Hotel Name column
hotel_df["Hotel Name"] = "" 
hotel_df.head()

<ipython-input-8-163e03f7db0a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = ""

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
13,Arraial do Cabo,-22.9661,-42.0278,75.20,94,0,5.75,BR,1610099329,
100,Kiryat Gat,31.6100,34.7642,73.00,29,0,1.01,IL,1610099541,
193,Bubaque,11.2833,-15.8333,79.39,64,0,6.91,GW,1610099549,
319,Atar,20.5169,-13.0499,71.60,28,0,9.22,MR,1610099560,
332,São Filipe,14.8961,-24.4956,74.75,78,0,8.84,CV,1610099561,

In [9]:
#Set parameters to search for hotels with 5000 meters.
#Hit the Google Places API for each city's coordinates.
#Store the first Hotel result into the DataFrame.
#Plot markers on top of the heatmap.
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "hotel",
    #"keyword": "international airport",
    "key": g_key
}
i=0
# Use the lat/lng we recovered to identify airports
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
    print(name_address.url)

    # convert to json
    name_address = name_address.json()
    #print(name_address)
    #print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=hotel&key=AIzaSyBtCT1LaDgzzrMQXgHAcmzISMfvdk1REkw&location=-22.9661%2C-42.0278

C:\Users\Beto\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=hotel&key=AIzaSyBtCT1LaDgzzrMQXgHAcmzISMfvdk1REkw&location=31.61%2C34.7642
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=hotel&key=AIzaSyBtCT1LaDgzzrMQXgHAcmzISMfvdk1REkw&location=11.2833%2C-15.8333
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=hotel&key=AIzaSyBtCT1LaDgzzrMQXgHAcmzISMfvdk1REkw&location=20.5169%2C-13.0499
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=hotel&key=AIzaSyBtCT1LaDgzzrMQXgHAcmzISMfvdk1REkw&location=14.8961%2C-24.4956
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=hotel&key=AIzaSyBtCT1LaDgzzrMQXgHAcmzISMfvdk1REkw&location=-24.9667%2C-57.5667
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=hotel&key=AIzaSyBtCT1LaDgzzrMQXgHAcmzISMfvdk1REkw&location=-17.7333%2C-149.15
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=hotel&key=AIzaSyBtCT1LaDgzzrMQXgHAcmzISMfvdk1REkw&location=20.5022%2C-10.0711
Missing field/result... skipping.
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=hotel&key=AIzaSyBtCT1LaDgzzrMQXgHAcmzISMfvdk1REkw&location=26.2867%2C73.03
https://maps.googleapis.com/maps/api/place/nearbysearch/json?radius=5000&types=hotel&key=AIzaSyBtCT1LaDgzzrMQXgHAcmzISMfvdk1REkw&location=-17.5065%2C-149.489

In [10]:
hotel_df.head(30)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
13,Arraial do Cabo,-22.9661,-42.0278,75.20,94,0,5.75,BR,1610099329,Cabo Frio
100,Kiryat Gat,31.6100,34.7642,73.00,29,0,1.01,IL,1610099541,Kiryat Gat
193,Bubaque,11.2833,-15.8333,79.39,64,0,6.91,GW,1610099549,Bubaque
319,Atar,20.5169,-13.0499,71.60,28,0,9.22,MR,1610099560,Atar
332,São Filipe,14.8961,-24.4956,74.75,78,0,8.84,CV,1610099561,Sao Filipe
435,Benjamín Aceval,-24.9667,-57.5667,75.20,94,0,3.44,PY,1610099570,Berjamin Aceval
475,Tautira,-17.7333,-149.1500,78.80,78,0,4.61,PF,1610099574,Tautira
492,Adrar,20.5022,-10.0711,79.65,21,0,4.12,MR,1610099575,
512,Jodhpur,26.2867,73.0300,76.17,34,0,8.66,IN,1610099577,Jodhpur
549,Mahina,-17.5065,-149.4890,78.80,78,0,4.61,PF,1610099580,Māhina

In [11]:
# NOTE: Do not change any of the code in this cell
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# Fill NaN values and convert to float
humidity = hotel_df["Humidity"].astype(float)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)

fig_hotel = gmaps.figure()

# Add layer
fig_hotel.add_layer(heat_layer)

# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Add the layer to the map
fig_hotel.add_layer(markers)

# Display figure
fig_hotel

Figure(layout=FigureLayout(height='420px'))